.project-images-container, .project-supplies-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-details-container {
  width: 350px;
}

#project-row {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

#project-details-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}


