.editProject-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.edit-delete-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}


