.addImage-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 20px;
}

.addImageButton {
  width: 15%;
  background-color:#70f88a;
  border: 1px solid rgb(0, 0, 0, .25);
  border-radius: 2px;
  color: #2E2532;
  box-shadow: 2px 2px rgb(0, 0, 0, .75);
  font-size: 20px;
}

.addImageButton:hover{
  border-color: black;
  transform: scale(1.05);
  background-color: #70f889b3;
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-top: 20px;
  margin: 20px 100px;
}

.col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
  padding: 10px;
}
