.addImage-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 20px;
}



.col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40px;
  padding: 10px;
}
