.addImage-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-left: 20px;
}

.addImageButton {
  width: 15%;
  background-color:#70f88a;
  border: 1px solid rgb(0, 0, 0, .25);
  border-radius: 2px;
  color: #2E2532;
  box-shadow: 2px 2px rgb(0, 0, 0, .75);
}

.addImageButton:hover{
  border-color: black;
  transform: scale(1.1);
  background-color: #70f889b3;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  border: 1px solid black;
  padding-left: 40px;
  padding-top: 40px;
  margin: 50px;
}

.ImageCard {
  border: 1px solid black;
}
