.wish-button-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.table {
  width: 80%;
}

.table-div {
  display: flex;
  justify-content: center;
}

#irisbutton-td {
  display: flex;
  justify-content: center;
}
