.wish-button-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.addWishButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 130px;
  background-color:#70f88a;
  border: 1px solid rgb(0, 0, 0, .25);
  border-radius: 2px;
  color: #2E2532;
  box-shadow: 2px 2px rgb(0, 0, 0, .75);
}

.addWishButton:hover {
  border-color: black;
  transform: scale(1.03);
  background-color:#70f889b3;
  text-decoration: none;
}

.ownButton {
  border: 1px solid rgb(0, 0, 0, .25);
  border-radius: 2px;
  color: #2E2532;
  box-shadow: 2px 2px rgb(0, 0, 0, .75);
  cursor: pointer;
}

.removeButton {
  background-color: #FF3364;
  border: 1px solid rgb(0, 0, 0, .25);
  border-radius: 2px;
  color: #2E2532;
  box-shadow: 2px 2px rgb(0, 0, 0, .75);
  cursor: pointer;
}

.removeButton:hover {
  border-color: black;
  background-color: #ff3363de;
}

