.addProject {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 20px;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
}




