.wish-button-div {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#add-supply-button {
  margin: 0 auto;
}

.table {
  width: 80%;
}

.table-div {
  display: flex;
  justify-content: center;
}

#redbutton-td{
  display: flex;
  justify-content: center;
}