.supply-card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.supply-card-container:hover {
  text-decoration: none;
}

.supply-header {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

