.supply-card-container {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.supply-card-container:hover {
  text-decoration: none;
}

.supply-header {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.addSupplyButton {
  height: 25px;
  width: 125px;
  background-color:#70f88a;
  border: 1px solid rgb(0, 0, 0, .25);
  border-radius: 2px;
  color: #2E2532;
  box-shadow: 2px 2px rgb(0, 0, 0, .75);
}

.addSupplyButton:hover{
  border-color: black;
  transform: scale(1.03);
  background-color:#70f889b3;
  text-decoration: none;
}
/* icon-container & classDiv are from Alexandria - please don't delete! */
.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
}
#classDiv {
  border: 1px solid black;
  width: 125px;
  display: grid;
  justify-items: center;
  padding: 15px;
  margin: 1rem;
}
