body {
  height: 100vh;
  background-color: #C0B9DD
}

a {
  text-decoration: none;
  color: #2E2532;
}

nav {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
  background-color: #6153CC;
}

nav:hover {
  
}

nav div{
  margin: 0 10px;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}